body, html {
    font-family: Calibri, sans-serif !important;
}
.card-header-gr {
    background: linear-gradient(to right, #323DA8,#3F96E0);
}

.blog-image {
    width: 95%;
}
.theme-icon{
    font-size: 22px;
    color: #248269;
}
.theme-blue {
    color: #6F92D4;
}
.slide-prev {
    position: absolute;
    top: 50%;
    left: 70px;
    outline: none !important;
}
.slide-next {
    position: absolute;
    top: 50%;
    right: 70px;
    outline: none !important;
}
.testimonial-picture {
    background: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-radius: 100%;
    position: relative;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}
.testimonial-picture::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    position: absolute;
    z-index:-1;
}
.blog-link {
    color: #3a4ed5;
}
.slick-next:before, .slick-prev:before {
    font-size: 30px !important;
    color: #248269 !important;
}
.slick-next, .slick-prev {
    top: 34% !important;
}
.slick-prev {
    left: -50px !important;
}
.slick-next {
    right: -50px !important;
}
.home-slider .slick-next:before, .home-slider .slick-prev:before {
    font-size: 35px !important;
    color: #ffffff !important;
}
.home-slider .slick-next,.home-slider .slick-prev {
    top: 48% !important;
    z-index: 1;
}
.home-slider .slick-prev {
    left: 50px !important;
}
.home-slider .slick-next {
    right: 67px !important;
}